<div id="mainContainer">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div class="form-floating" id="titolo">
            <input type="text" class="form-control" id="titolo1" placeholder="titolo" name="titolo" [(ngModel)]="loadNotizia.titolo" required>
            <label for="titolo1">Titolo</label>
        </div>
        <div class="mb-3">
            <label for="formFile" class="form-label">Seleziona immagine di copertina</label>
            <input class="form-control" type="file" id="formFile" name="imgCopertina" (change)="fileChange($event)"
                accept="image/png, image/gif, image/jpeg" [(ngModel)]="loadNotizia.imgCopertina">
        </div>
        <ckeditor [(ngModel)]="model.editorData" [editor]="Editor" name="testo" required></ckeditor>
        <div id="fin">
            <div class="form-floating mt-3 mb-3" id="autore">
                <input type="text" class="form-control" id="autore1" placeholder="autore" name="autore" [(ngModel)]="loadNotizia.autore"
                    required>
                <label for="autore1">Autore</label>
            </div>
        </div>
        <div id="fin">
            <div class="form-floating mt-3 mb-3" id="autore">
                <input type="datetime-local" class="form-control" id="autore1" placeholder="datapubblicazione"
                    name="datapubblicazione" [(ngModel)]="loadNotizia.datapubblicazione" required>
                <label for="autore1">Data di pubblicazione</label>
            </div>
        </div>
        <div id="fin">
            <div *ngIf="inModifica" class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="isAttiva" [(ngModel)]="loadNotizia.isAttiva" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">Attiva</label>
            </div>
        </div>
        <button type="submit" class="btn" id="btnSub" [disabled]="!form.valid">
            <span *ngIf="inModifica">Salva</span>
            <span *ngIf="!inModifica">Pubblica</span>
        </button>
    </form>
    <hr>
    <div class="accordion accordion-flush mb-3" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Visualizza tutte le notizie
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse mb-3" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div *ngFor="let notizia of allNotizie; let i = index" class="notizia">
                        <div>
                            {{notizia.datapubblicazione | date: "dd/MM/Y HH:mm"}}
                        </div>
                        <div>
                            {{notizia.titolo}}
                        </div>
                        <div style="max-width: 30px;">
                            <div [ngClass]="notizia.isAttiva == '1' ? 'attiva' : 'disattiva'">

                            </div>
                        </div>
                        <div class="modifica">
                            <button (click)="modifica($event, i)">Modifica</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>