<a routerLink="/nuovogiocatore" class="boxC shadow">
    <div class="boxTitle">
        Gestisci la rosa
    </div>
    <div class="boxDescription">
        Qui potrai aggiungere nuovi giocatori, eliminarli e modificare i loro dati!
    </div>
</a>
<a routerLink="/gestionerosa" class="boxC shadow">
    <div class="boxTitle">
        Crea convocazione
    </div>
    <div class="boxDescription">
        Qui potrai creare la convocazione da poter poi scaricare in PDF!
    </div>
</a>
<a routerLink="/gestionerosa" class="boxC shadow">
    <div class="boxTitle">
        Crea formazione
    </div>
    <div class="boxDescription">
        Qui potrai creare la formazione da poter poi scaricare in PDF!
    </div>
</a>
